{% extends 'base.html.twig' %}

{% block body %}
    <h2>Dodaj klasę szkolną</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Utwórz"   class="btn btn-default"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('schoolclass_index') }}"  class="btn btn-default">Powrót</a>
        </li>
    </ul>
{% endblock %}
