<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8" />
        <title>Internetowy System Wsparcia Sekretariatu Szkoły</title>

        <style type="text/css">
/* tutaj należy umieścić własne style */
                p {text-align: justify;}
        </style>
</head>
<body>
<h1>Internetowy System Wsparcia Sekretariatu Szkoły</h1>
<h2>Własny szablon dokumentu</h2>
<p>To jest przykładowy dokument, który został wygenerowany przy pomocy aplikacji Internetowy System Wsparcia Sekretariatu Szkoły.</p>
<p>Użytkownicy systemu mogą definiować własne szablony, które następnie zostaną wygenerowane do formatu PDF.</p>
<p>Szablony mogą korzystać z kodu HTML, CSS i systemu szablonowania twig, a także używać elementów z tabel <i>Opłaty</i>, <i>Uczniowie</i>, <i>Szkoły</i>, <i>Klasy</i>, <i>Rodzice</i> oraz <i>Oceny</i>.</p>
<p>Gotowy dokument należy umieścić w lokalizacji <i>/custom</i> wewnątrz aplikacji.</p>
<hr />
<h3>Przykładowy tekst</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et auctor velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin tincidunt tristique est, non pellentesque dui tincidunt nec. In hac habitasse platea dictumst. Mauris placerat finibus tincidunt. Proin eu facilisis arcu, non imperdiet augue. Suspendisse eleifend rhoncus tellus in aliquam. Vivamus convallis sodales sapien vitae luctus. Sed in pulvinar sapien. Cras volutpat neque id aliquet consequat. Nam vestibulum id tortor sed elementum. Mauris odio mi, bibendum sit amet molestie eu, fermentum eu eros. Quisque lacus ex, elementum non elit eu, efficitur aliquam libero. Cras sagittis tempus purus, at tempus mi feugiat id.</p>

<p>Phasellus rhoncus ultrices nunc vel porta. Phasellus feugiat faucibus erat. Donec eu metus bibendum, varius magna non, finibus lectus. Cras tempor egestas eros, eget laoreet sapien posuere eget. Maecenas quis nisi quis dui tincidunt commodo auctor eu ex. Suspendisse non lorem sed tortor pulvinar finibus eu at risus. Pellentesque pulvinar vestibulum semper. Cras id pretium urna. Vivamus a luctus lorem. Donec condimentum tellus vel urna commodo sagittis.</p>

<p>Nullam tristique tortor velit, maximus pulvinar lectus malesuada vitae. Pellentesque pretium, nisl eu tincidunt convallis, neque mauris luctus mi, sit amet viverra augue sapien quis diam. Donec molestie, dolor in accumsan finibus, justo sem varius nunc, et eleifend massa metus in arcu. Nunc in nibh sit amet lectus sagittis condimentum vel ut diam. Vestibulum sem erat, pellentesque non nibh vel, iaculis consequat nunc. Praesent finibus porta cursus. Nulla sollicitudin tincidunt erat, eget cursus arcu euismod non. Maecenas et congue quam, sed posuere dui. Vestibulum ac magna vel eros viverra suscipit ac id libero. Mauris lacus elit, mattis vel nisi sit amet, vehicula posuere dui. Curabitur lacinia augue quam, eget tincidunt elit elementum at. Donec volutpat sed massa sed vestibulum. Nullam rhoncus pretium tincidunt.</p>

<p>Morbi dolor nisi, vestibulum eget elementum ut, aliquet id urna. Morbi rhoncus ante vel tortor vestibulum porttitor. Phasellus velit nulla, euismod at ex a, laoreet scelerisque velit. Nulla facilisi. Aenean finibus, eros vel feugiat tincidunt, massa mi mattis libero, in faucibus tortor augue ut urna. Cras tincidunt magna eget elementum porta. Integer tristique mauris a mauris porta, lobortis aliquet felis gravida. Sed ut blandit ex. Nulla vel eros eget odio aliquam auctor.</p>

<p>Aenean sodales est at purus tristique, vel posuere est pellentesque. Pellentesque tempus mi eu erat vestibulum, ac maximus dolor tincidunt. Nam molestie, lacus sit amet facilisis lobortis, arcu diam commodo est, sed dapibus nulla ante lacinia dolor. Proin sollicitudin tellus non nunc laoreet aliquet. Curabitur vehicula nunc et orci auctor, vitae commodo ante volutpat. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis gravida dignissim porta. Proin scelerisque fringilla justo, id maximus ante. Sed mattis eget diam non tempor. Vivamus et dolor at turpis efficitur lobortis. Nunc orci justo, bibendum ut orci ut, malesuada varius sem. Nulla facilisi.</p>

<p>Phasellus at elementum risus. Phasellus ut lacus accumsan odio tincidunt commodo. Vivamus sed malesuada dui. Phasellus id urna et justo varius lacinia. Phasellus sed nulla mauris. Morbi ut facilisis mauris. Integer varius tempor quam a placerat. Morbi feugiat vitae quam in sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris tempus sed neque id fringilla.</p>

<p>Etiam porttitor vel lectus non sodales. Duis molestie faucibus dolor, vitae rhoncus urna maximus et. Donec eu leo mollis, sagittis lectus ultrices, hendrerit urna. Proin metus mi, aliquet et purus nec, malesuada convallis mauris. Quisque rhoncus ante quis euismod mattis. Quisque a nibh nec magna aliquet egestas quis non nisl. Nulla lobortis sagittis mollis. Pellentesque a tortor non quam vulputate posuere ac a neque. Fusce convallis ante metus, in ullamcorper ex accumsan a.</p>

<p>Maecenas sit amet vehicula ex. Ut tortor ligula, dictum non libero quis, suscipit finibus felis. Suspendisse magna mi, consectetur id condimentum eu, iaculis vitae risus. Nullam tincidunt ipsum massa, varius auctor tellus vestibulum sed. Suspendisse potenti. Sed at ullamcorper tellus, ac malesuada ipsum. Ut non dignissim sem. Curabitur nunc ex, mattis vitae tellus sit amet, posuere tincidunt nulla. Praesent quis justo ligula. Integer sodales nisi sit amet lectus suscipit iaculis. Nunc mauris arcu, auctor sed facilisis quis, pretium a quam. Sed sagittis eu nunc vitae efficitur. In non neque auctor, mollis felis in, porttitor nulla.</p>

<p>Pellentesque gravida massa ex, tempus pulvinar tellus laoreet nec. Vestibulum risus dolor, tempus quis rhoncus id, porttitor egestas ex. Praesent egestas ante nec convallis pulvinar. Nulla facilisi. Aliquam sit amet tristique eros. Ut placerat elementum ornare. Etiam turpis nulla, accumsan in rhoncus laoreet, placerat ut tortor. Aenean velit lacus, molestie a odio in, aliquam dignissim orci. Aenean vel quam laoreet enim dictum interdum. Nunc varius eget ligula eu egestas. Suspendisse dictum eleifend dui, eget ultricies nisl sodales sed. Nunc eget neque pharetra, volutpat neque consequat, maximus mauris. Morbi tempor, justo vitae dapibus faucibus, mi risus condimentum massa, sit amet ullamcorper urna tellus vel augue.</p>

<p>Cras volutpat, risus sed tincidunt euismod, purus nunc pellentesque eros, sit amet pharetra justo nulla vel metus. Nam ullamcorper urna odio, ac fringilla urna mollis et. Mauris lorem mauris, ullamcorper vel hendrerit ut, facilisis vitae lacus. Pellentesque rhoncus vulputate egestas. Suspendisse venenatis tortor quis eleifend dictum. Etiam ac vulputate magna. Nulla a dictum turpis.</p>
</body>
</html>
